<h1>Edit Portfolio Item</h1>

<%= render 'form', portfolio: @portfolio_item %>

<%= link_to fa_icon('arrow-left'), portfolio_path %> |
<%= link_to fa_icon('trash'), @portfolio_item, method: :delete, data: {confirm: 'Are you sure?'} %> 
