<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Christian Brotherson</h3>
      <nav class="nav nav-masthead">
        <%= nav_helper 'nav-links', 'span' %>
      </nav>
  </div>
</div>